/* Estilos generales */
html{
    font-size: 16px; /*Cambia la medida rem de 16px a 10px*/
    font-family: 'Afacad', sans-serif;
    color: rgb(17, 15, 15);
}

h2{
    color: #2ab0bd;
    text-align: center;
    font-size: 40px;
    background-color: #5623d6;
    padding: 20px;
}