$color-principal: rgb(37, 150, 123);

//MAPS
$boton-principal: (
    bg-primario: yellow,
    texto-primario: #ff00ff,
    with-primario: 30px,
    border-primario: 2px solid red, 
);

//LISTAS
$colores:
#3f4340,
red,
rgba(204, 172, 43, 0.598),
rgb(75, 197, 130);
