$color-principal: rgb(78, 165, 145);

//MAPS
$boton-principal: (
    bg-primario: yellow,
    texto-primario: #292229,
    with-primario: 30px,
    border-primario: 2px solid rgb(20, 111, 129), 
);

//LISTAS
$colores:
#3f4340,
rgb(134, 67, 67),
rgba(204, 172, 43, 0.598),
rgb(26, 100, 130);
